extends ../base
include ../mixins/rank_installer.pug
include ../mixins/rank.pug

block content
    if userInstaller
        section
            each item in userInstaller
                +installer(item)
        hr
    if rank
        section
            each item in rank
                +rank(item)